<p-card header="Venta">
  <p-inputGroup class="sale-input">
    <p-inputGroupAddon>
      <i class="pi pi-search"></i>
    </p-inputGroupAddon>
    <input pInputText id="description-input" placeholder="Descripcion" [(ngModel)]="searchData" (change)="searchSales()"/>
  </p-inputGroup>
</p-card>

<div class="sale-summary">
  <p-card header="Busqueda">
    <p-table [value]="sales" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Descripcion</th>
          <th>Monto</th>
          <th>Monto recibido</th>
          <th>Cambio</th>
          <th>Fecha</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sale>
        <tr>
          <td>{{ sale.description }}</td>
          <td>{{ sale.mount }}</td>
          <td>{{ sale.ingress }}</td>
          <td>{{ sale.change }}</td>
          <td>{{ sale.saleTime | date:'medium'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
